:root {
    --primary-color: #fff;
    --accent1-color: #554834;
    --accent2-color: #554834e0;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 840px;
    background-color: var(--accent1-color);
    place-items: center;
}

header img {
    width: 196px;
    height: auto;
    margin: 8px;
    grid-column: 1 / 2;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    text-decoration: none;
    font-weight: bolder;
    padding: 0.5rem;
    color: var(--primary-color);
    white-space: nowrap;
}

header,
footer,
main {
    width: 840px;
}

header,
main {
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
}

nav,
p,
article {
    margin: 8px;
    padding: 8px;
}

section {
    margin-top: 5px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    font-weight: 500;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 0px;
    width: 100%;
    padding: 16px;
    text-align: center;
    color: var(--primary-color);
}

h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    top: 240px;
    background-color: var(--accent2-color);
    height: 120px;
}

.hero article img {
    float: right;
    width: 80px;
    height: auto;
    margin: 5px;
    box-shadow: 0 0 10px rgb(65, 45, 2);
}

.hero p {
    color: var(--primary-color);
}

.history {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.history img {
    display: block;
    width: 290px;
    height: auto;
    margin: 5px;
}

.adventure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.adventure img {
    display: block;
    width: 155px;
    height: auto;
    margin: 8px;
}

.adventure figcaption {
    text-align: center;
    font-weight: bold;
    color: var(--accent1-color);
}

.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--accent1-color);
    margin: 48px auto;
    height: 4rem;
}

.footer p {
    margin: 8px;
    padding: 8px;
    color: var(--primary-color);
}

.footer img {
    display: block;
    width: 32px;
    height: auto;
}